name: stud_pdf_view
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.10.4

dependencies:
  cloud_firestore: ^6.1.1
  firebase_core: ^4.3.0
  flutter:
    sdk: flutter
  get: ^4.7.3
  syncfusion_flutter_pdfviewer: ^32.1.23

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
